body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('biru.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.container h2 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

label {
    font-size: 15px;
    font-weight: bold;
    color: #222;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

.inbox {
    width: 85%;
    padding: 10px 12px;
    margin: 5px auto;
    border-radius: 8px;
    border: 1px solid #aaa;
    background: rgba(255,255,255,0.9);
    font-size: 15px;
    display: block;
    transition: 0.3s;
}

.inbox:focus {
    border-color: #4b7bec;
    outline: none;
    box-shadow: 0 0 5px rgba(75, 123, 236, .5);
}

button {
    width: 90%;
    padding: 12px;
    border: none;
    background: #4b7bec;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #3867d6;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-top: 15px;
}

a:hover {
    color: #4b7bec;
    text-decoration: underline;
}
